/dropbox-sdk-dotnet/Dropbox.Api.Tests/dropbox.runsettings

## Visual studio stuff
*.suo
*.user
.vs/

#ignore build contents
[dD]ebug/
[rR]elease/
[bB]in/
*[oO]bj/
[Ll]ast[Bb]uild.log

# test stuff
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
App_Data/

## vim files
*.un~
*~

## nuget packages
/dropbox-sdk-dotnet/packages/
*.nupkg
.nuget/

##pyc
*.pyc

## files containing keys
*.[Dd]o[Nn]ot[Ss]ync.*
*.pfx

## Stylecop cache
[Ss]tyle[Cc]op.[Cc]ache

## Generated output
## /dropbox-sdk-dotnet/Dropbox.Api/Generated

## Generated csproj files.
## /dropbox-sdk-dotnet/Dropbox.Api/*.csproj

## Generated docs
/doc/Help

## App Packages
AppPackages/

# IntelliJ stuff
.idea/

# Visual studio stuff
/dropbox-sdk-dotnet/UpgradeLog*.htm
/dropbox-sdk-dotnet/.vs/
