@using SimpleBlogDemo.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserProfile> SignInManager
@inject UserManager<UserProfile> UserManager
@if (SignInManager.IsSignedIn(User))
{
    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("profile", "Profile", "Home")</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign in", "SignIn", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
