<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="userAccessToken" value="" />
    <Parameter name="teamAccessToken" value="" />
    <Parameter name="userRefreshToken" value="" />
    <Parameter name="appKey" value="" />
    <Parameter name="appSecret" value="" />
  </TestRunParameters>
</RunSettings>
