@using SimpleBusinessDashboard.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simple Blog Demo</title>
    <script src="~/js/modernizr.js"></script>
    <link rel="stylesheet" href="~/css/SimpleBusinessDashboard.css" />
</head>
<body>
    <div id="nav-bar">
        <span id="heading-1">Sample Business Dashboard</span>

        <a href="https://www.dropbox.com/developers" target="_blank">
            <div class="dbx-logo">
                <img class="dbx-logo-img" src="../images/dropbox-logo.png">
                <span class="title-text">
                    <img class="dbx-logo-txt" src="../images/dropbox-logo.txt.svg">
                </span>
            </div>
        </a>
    </div>
    <div id="nav-bar-blue"></div>
    <div class="container body-content">
        @Html.RenderFlash()
        @RenderBody()
    </div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/graph.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
