name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  UnitTests:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Run Unit Tests
        run: |
          dotnet test dropbox-sdk-dotnet/Dropbox.Api.Unit.Tests
  Coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Unit Tests
        run: |
          dotnet test \
          dropbox-sdk-dotnet/Dropbox.Api.Unit.Tests \
          --collect:"XPlat Code Coverage" \
          -- \
          'DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.ExcludeByFile=**/Generated/**/*.cs'
      - name: Publish Coverage
        uses: codecov/codecov-action@v1.0.15
        with:
          flags: unit
          fail_ci_if_error: true
          directory: dropbox-sdk-dotnet/Dropbox.Api.Unit.Tests/TestResults/
