name: CI
on:
  pull_request:

jobs:
  UnitTests:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Run Unit Tests
        run: |
          dotnet test dropbox-sdk-dotnet/Dropbox.Api.Unit.Tests
  Linter:
    runs-on: ubuntu-latest
    steps:
      - name: Run Linter
        run: |
          # Install latest dotnet-format
          dotnet tool install -g dotnet-format --add-source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json
          dotnet restore dropbox-sdk-dotnet/Dropbox.Api.sln
          dotnet format --check --fix-whitespace --fix-style warn --fix-analyzers warn dropbox-sdk-dotnet/Dropbox.Api.sln
